.information{
    width: 40%;
    color: white;
    height: fit-content;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
}
.information p{
    line-height: 25px;
    letter-spacing: 1px;
    /* text-transform: capitalize; */
}
.information h1{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.Buttons{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    flex-wrap: wrap;
    gap: 10px;
}
@media screen and (max-width:742px) {
    .information{
        width: 30%;
    }
    .information p{
        line-height: 22px;
        letter-spacing: 0px;
    }
    .information h1{
        font-size: 32px;
    }
    
}
@media screen and (max-width:636px) {
    .information{
        width: 100%;
        padding: 0px;
        align-items: center;
        
    }
    .information p{
        text-align: center;

    }
    .information h1{
        font-size: 30px;
        text-align: center;
    }

    
}
