.footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #181616ef;
    gap: 20px;
}
.footer .iconCircle{
    width: 20px;
    height: 20px;
    transition: 1s;
}
.footer .iconCircle:hover {
    translate: 0 5px ;
}
.footer .iconCircle svg path{
    fill:var(--color-Strong);
}