
.container{
    width: 100%;
    height: 100%;
    background-color:#181616ef;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    position: relative;
    /* z-index: -1; */

}
.ContainerWithImage{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom,#181616d5 30%,transparent),
    url('../../Assests/Images/skills.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left 20%;
    display: flex;
    flex-direction: column;
    justify-content:space-around ;
    align-items: center;
}
.CardContainer{
    width: 80%;
    height: auto;
    max-height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    overflow: auto;
    padding: 0px 5px;
}
.ContainerWithImage2{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom,#181616d5 30%,transparent),
    url('../../Assests/Images/work.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left 20%;
    display: flex;
    flex-direction: column;
    justify-content:space-around ;
    align-items: center;
}