.InfoList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    padding: 10px;
    list-style: none;
    width: 90%;

}
.InfoList li{
    background-color: rgba(255,255,255,0.1);
    border-radius: 6px;
    padding: 10px;
    width: 100%;
    line-height: 50px;
    margin:  10px 0px;

}
.InfoList li p{
    font-size: 18px;
    letter-spacing: 2px;
    color: white;
    /* -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black; */
}
.InfoList li span{
    display: block;
    color:  var(--color-Primary);
    letter-spacing: 1px;
    /* -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black; */
}