.GlassContainer{
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
}
.GlassContainerFlexColumn{
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: stacrt;
    align-items: center;
    padding: 10px;
    overflow: auto;
    z-index: 1;
}
@media screen and (max-width:636px) {
    .GlassContainer{  
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;

    }
    
}

