
.image-box{
    width: 320px;
    height: 320px;
    padding: 10px;
    background-image:linear-gradient(to right,var(--color-Secondary),white) ;
    border-left: 4px solid var(--color-Primary);
    border-bottom: 5px solid var(--color-Primary);;
    border-radius: 50%;
    transition:all 1s ease-in-out 0s;
    overflow: hidden;
    animation-name: box;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}
@keyframes box{
    0%{translate:0px 0px}
    50%{translate:0px 10px;translate:0px 0px;translate:0px -10px}
    100%{translate:0px 0px;}
}
.image-box:hover{
    background-image:linear-gradient(to right,#f8f87a 60%,white) ;
    border-left: 4px solid  var(--color-Strong);
    border-bottom: 5px solid var(--color-Strong);
    cursor: pointer;

}
img{
    width: 80%;
    margin-left: 10px;
    margin-top: -10px;
}

@media screen and (max-width:898px) {
    .image-box{
        width: 250px;
        height: 250px;
    }
    
}
@media screen and (max-width:636px) {
    .image-box{
        padding: 0;
        width: 200px;
        height: 200px;
        
    }
    
}
@media screen and (max-width:257px) {
    .image-box{
        display: none;
        
    }
    
}

